#виртуальное окружение
.venv/
venv/
ENV/

#кэш Python
**/__pycache__/
*.pyc

#игнорируем только конкретные тяжелые файлы датасета в папке data
data/
*.npy
*.zip
*.jpg
*.png
*.jpeg

#игнорируем файлы разметки CelebA, если они случайно окажутся в корне
list_attr_celeba.txt
identity_CelebA.txt

.vscode/